<div id ='component' style='font-size: 1.6vw'>
    <div id ='pagetitle'>
      <span>{{pagetitle}}</span>  |  <a routerLink='/purchaserequests/create/' >Create New</a>
    </div>
    <div id='content'>
      <table class='table table-sm' class="table table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
    <tr *ngFor='let purchaserequest of purchaserequests'>
      <td>{{purchaserequest.User.FirstName}} {{purchaserequest.User.LastName}}</td>
      <td>{{purchaserequest.Description}}</td>
      <td>{{purchaserequest.Status}}</td>
      <td>{{purchaserequest.Total | currency}}</td>
      <td>
        <div class='btn-group'>
        <a routerLink='/purchaserequests/detail/{{purchaserequest.Id}}' class="btn btn-sm btn-outline-primary">Detail</a> 
        <a routerLink='/purchaserequests/edit/{{purchaserequest.Id}}' class="btn btn-sm btn-outline-success">Edit</a>  
        <a routerLink='/purchaserequests/editlines/{{purchaserequest.Id}}' class="btn btn-sm btn-outline-primary">Lines</a>
      </div>
      </td>
    </tr>
        </tbody>
      </table>
    </div>
    
    </div>
    