<div class='aboutpic'></div>
<p></p>
<div id="content" style='font-size: 1.3vw'>
    <div id="leftdiv">
      <h5>Architecture</h5>
      <p>The architecture of PRS is full-stack, three tier with web front-end, Microsoft .NET back-end, and SQL server for the data</p>
      <p></p>
    </div>
    <div id="centerdiv">
      <h5>Business Flow</h5>
      <p>The business flow in PRS is based on the purchase request.</p>
      <p>There are users to limit the system operation to only authorized users.</p>
    </div>
    <div id="rightdiv">
      <h5>Technology</h5>
      <p>The technologies used on PRS are the following:</p>
      <ul>
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
        <li>Typescript</li>
        <li>Angular</li>
        <li>C#</li>
        <li>EntityFramework</li>
        <li>MVC</li>
        <li>WebAPI</li>
        <li>SQL Server</li>
      </ul>
    </div>