<div id="component">
    <div id="pagetitle">
      <span>{{ pagetitle }}</span> | 
      <a *ngIf="purchaserequest" routerLink="/purchaserequestlineitems/create/{{purchaserequest.Id}}">Create New Line Items</a>
    </div>
    <div id="content" *ngIf='purchaserequest'>
      <table class="table table-sm">
        <tr>
          <th>Id</th>
          <th>User</th>
          <th>Description</th>
          <th>Justification</th>
          <th>Status</th>
          <th>Total</th>
          
        </tr>
        <tr>
          <td>{{purchaserequest.Id}}</td>
          <td>{{purchaserequest.User.FirstName}}{{purchaserequest.User.LastName}}</td>
          <td>{{purchaserequest.Description }}</td>
          <td>{{purchaserequest.Justification}}</td>
          <td>{{purchaserequest.Status}}</td>
          <td>{{purchaserequest.Total | currency}}</td>
          
        </tr>
      </table>
      <hr />
      <table class="table table-sm">
        <tr>
          <th>Id</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Subtotal</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let prli of purchaserequest.prliList">
          <td>{{ prli.Id }}</td>
          <td>{{ prli.Product.Name }}</td>
          <td>{{ prli.Quantity }}</td>
          <td>{{ prli.Product.Price | currency }}</td>
          <td>{{ (prli.Quantity * prli.Product.Price) | currency }}</td>
          <td>
              <a class="btn btn-sm btn-outline-info" routerLink="/purchaserequestlineitems/detail/{{this.purchaserequest.Id}}/{{prli.Id}}">Detail</a> |
              <a class="btn btn-sm btn-outline-info" routerLink="/purchaserequestlineitems/edit/{{this.purchaserequest.Id}}/{{prli.Id}}">Edit</a> 
            
          </td>
        </tr>
      </table>
    </div>
    <a (click)='submit()' class="btn btn-block btn-outline-info" >Submit</a>
  </div>