<div id ='component'>
    <div id ='pagetitle'>
      <span>{{pagetitle}}</span>
    </div>
    <div id='content' *ngIf='purchaserequest'>
  <table class= 'table table-sm' >
      <tr><th>User's Name</th><td>{{purchaserequest.User.FirstName}} {{purchaserequest.User.LastName}}</td></tr>
      <tr> <th>Description</th><td>{{purchaserequest.Description}}</td></tr>
      <tr><th>Justification</th><td>{{purchaserequest.Justification}}</td></tr>
      <tr><th>DeliveryMode</th><td>{{purchaserequest.DeliveryMode}}</td></tr>
      <tr><th>Status</th><td>{{purchaserequest.Status}}</td></tr>
      <tr><th>Total</th><td>{{purchaserequest.Total}}</td></tr>
      <tr><th>Active</th><td>{{purchaserequest.Active ? 'Yes' : ''}}</td></tr>
      <tr><th>ReasonForRejection</th><td>{{purchaserequest.ReasonForRejection}}</td></tr>
  </table>
  <a (click)='approve()' routerLink='/purchaserequests/reviewlist' class='btn btn-warning'>Approve</a> |
  <a (click)='reject()' routerLink='/purchaserequests/reviewlist' class='btn btn-danger'>Reject</a>
  </div>
  </div>