<div id ='component'>
    <div id ='pagetitle'>
       <span>{{pagetitle}}</span>
    </div>
    <div id='content' *ngIf='users'>
    <div>
    <div class='form-group row' >
       <label class='col-form-label col-sm-2' for="purchaserequestuser">User:</label>
       <div class='col-sm-6 select-list'>
       <select [(ngModel)]='purchaserequest.UserId' [compareWith]='compareFn' class='form-control' name='User' id='purchaserequest-User'>
       <option *ngFor="let user of users" [ngValue]="user.Id" [selected]="user.Id == purchaserequest.UserId">{{user.FirstName + user.LastName}}</option>
       </select>
    </div></div></div>
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='description'>Description:</label>
       <input [(ngModel)]='purchaserequest.Description' name='Description' type='text' class ='form-control col-sm-6' id='description' 
        aria-describedby='DescriptionHelp' placeholder='Description'>
       <small id='DescriptionHelp' class='form-text text-muted col-sm-2'>The description</small>
    </div>
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='purchaserequestjustification'>Justification:</label>
       <input [(ngModel)]='purchaserequest.Justification' name='Justification' type='text' class ='form-control col-sm-6' id='purchaserequestjustification' 
        aria-describedby='JustificationHelp' placeholder='Justification'>
       <small id='JustificationHelp' class='form-text text-muted col-sm-2'>The justification</small>
    </div>
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='purchaserequestdeliverymode'>DeliveryMode:</label>
       <input [(ngModel)]='purchaserequest.DeliveryMode' name='DeliveryMode' type='text' class ='form-control col-sm-6' id='purchaserequestdeliverymode' 
        aria-describedby='DeliveryModeHelp' placeholder='DeliveryMode'>
       <small id='DeliveryModeHelp' class='form-text text-muted col-sm-2'>The delivery mode</small>
    </div>            
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='purchaserequesttotal'>Total:</label>
       <input [(ngModel)]='purchaserequest.Total' name='Total' type='text' class ='form-control col-sm-6' id='purchaserequesttotal' 
        aria-describedby='TotalHelp' placeholder='Total'>
       <small id='TotalHelp' class='form-text text-muted col-sm-2'>Total</small>
    </div>
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='purchaserequestactive'>Active:</label>
       <input [(ngModel)]='purchaserequest.Active' name='Active' type='checkbox' class ='form-control col-sm-6' id='purchaserequestactive' 
        aria-describedby='ActiveHelp' placeholder='Active'>
       <small id='ActiveHelp' class='form-text text-muted col-sm-2'>Active</small>
    </div>
     <div>
        <button (click)='create()' class='btn btn-warning'>Create</button>
  </div>
  </div>
  </div>
