<div id ='component'>
  <div id ='pagetitle'>
    <span>{{pagetitle}}</span>  |  <a routerLink='/products/create'>Create New</a>
  </div>
  <div id='content' class='listdiv'>
    <table class='table table-sm' class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Vendor</th>
          <th>PartNumber</th>
          <th>Name</th>
          <th>Price</th>
          <th>Unit</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
  <tr *ngFor='let product of products'>
    <td>{{product.Id}}</td>
    <td>{{product.Vendor.Name}}</td>
    <td>{{product.PartNumber}}</td>
    <td>{{product.Name}}</td>
    <td>{{product.Price | currency }}</td>
    <td>{{product.Unit}}</td>
    <td>{{product.Active}}</td>
    <td>
      <a routerLink='/products/detail/{{product.Id}}' class="btn btn-sm btn-outline-info">Detail</a> |
      <a routerLink='/products/edit/{{product.Id}}' class="btn btn-sm btn-outline-info">Edit</a>  
    </td>
  </tr>
      </tbody>
    </table>
  </div>
  
  </div>
  