<div id ='component'>
  <div id ='pagetitle'>
    <span>{{pagetitle}}</span>  |  <a routerLink='/products/create'>Create New</a>
  </div>
  <div id='content'>
    <table class='table table-sm'>
      <thead>
        <tr>
          <th>PartNumber</th>
          <th>Name</th>
          <th>Price</th>
          <th>Unit</th>
          <th>PhotoPath</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
  <tr *ngFor='let user of users'>
    <td>{{product.PartNumber}}</td>
    <td>{{product.UserName}}</td>
    <td>{{product.Phone}}</td>
    <td>{{product.Email}}</td>
    <td>{{product.Phone}}</td>
    <td>{{product.Email}}</td>
    <td>
      <a routerLink='/products/detail/{{product.Id}}'>Detail</a> |
      <a routerLink='/products/edit/{{product.Id}}'>Edit</a>  
    </td>
  </tr>
  
      </tbody>
    </table>
  </div>
  
  </div>
  