<div id ='component' style='font-size: 1.6vw'>
    <div id ='pagetitle'>
       <span>{{pagetitle}}</span>
    </div>
    <div id='content' *ngIf='purchaserequest'>
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='description'>Description:</label>
       <input [(ngModel)]='purchaserequest.Description' name='Description' type='text' class ='form-control col-sm-6' id='description' 
        aria-describedby='DescriptionHelp' placeholder='Description'>
       <small id='DescriptionHelp' class='form-text text-muted col-sm-2'>The description</small>
    </div>
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='purchaserequestjustification'>Justification:</label>
       <input [(ngModel)]='purchaserequest.Justification' name='Justification' type='text' class ='form-control col-sm-6' id='purchaserequestjustification' 
        aria-describedby='JustificationHelp' placeholder='Justification'>
       <small id='JustificationHelp' class='form-text text-muted col-sm-2'>The justification</small>
    </div>
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='purchaserequestdeliverymode'>DeliveryMode:</label>
       <input [(ngModel)]='purchaserequest.DeliveryMode' name='DeliveryMode' type='text' class ='form-control col-sm-6' id='purchaserequestdeliverymode' 
        aria-describedby='DeliveryModeHelp' placeholder='DeliveryMode'>
       <small id='DeliveryModeHelp' class='form-text text-muted col-sm-2'>The delivery mode</small>
    </div>    
    <div>        
    <div class='form-group row'>
        <label class='col-form-label col-sm-2' for='purchaserequestreasonforrejection'>Rejection:</label>
        <input [(ngModel)]='purchaserequest.ReasonForRejection' name='ReasonForRejection' type='text' class ='form-control col-sm-6' id='purchaserequestreasonforrejection' 
         aria-describedby='ReasonForRejectionHelp' placeholder='ReasonForRejection'>
        <small id='ReasonForRejectionHelp' class='form-text text-muted col-sm-2'>ReasonForRejection</small>
     </div>
     <div>
        <button (click)='change()' class="btn btn-sm btn-outline-success ">Update</button>
     </div>
     </div>
     </div>