<div id ='component'>
    <div id ='pagetitle'>
       <span>{{pagetitle}}</span>
    </div>
    <div id='content' *ngIf='purchaserequest'>
            <div>
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='user'>User:</label>
       <select [(ngModel)]='purchaserequest.UserId' [compareWith]='compareFn' class ='form-control col-sm-6' name='User' id='purchaserequest-User'>
       <option *ngFor='let user of users' [ngValue]='user.Id' [selected]='user.Id == purchaserequest.UserId'> {{purchaserequest.User.FirstName}} {{ purchaserequest.User.LastName}}  </option> 
       </select>
    </div></div>
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='description'>Description:</label>
       <input [(ngModel)]='purchaserequest.Description' name='Description' type='text' class ='form-control col-sm-6' id='description' 
        aria-describedby='DescriptionHelp' placeholder='Description'>
       <small id='DescriptionHelp' class='form-text text-muted col-sm-2'>The description</small>
    </div>
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='purchaserequestfirstname'>Justification:</label>
       <input [(ngModel)]='purchaserequest.FirstName' name='FirstName' type='text' class ='form-control col-sm-6' id='purchaserequestfirstname' 
        aria-describedby='FirstNameHelp' placeholder='First Name'>
       <small id='FirstNameHelp' class='form-text text-muted col-sm-2'>The first name</small>
    </div>
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='purchaserequestdeliverymode'>DeliveryMode:</label>
       <input [(ngModel)]='purchaserequest.DeliveryMode' name='DeliveryMode' type='text' class ='form-control col-sm-6' id='purchaserequestdeliverymode' 
        aria-describedby='DeliveryModeHelp' placeholder='DeliveryMode'>
       <small id='DeliveryModeHelp' class='form-text text-muted col-sm-2'>The delivery mode</small>
    </div>    
    <div>
            <div class='form-group row'>
               <label class='col-form-label col-sm-2' for='purchaserequeststatus'>Status:</label>
               <select [(ngModel)]='purchaserequest.Status' [compareWith]='compareFn' class ='form-control col-sm-6' name='Status' id='purchaserequeststatus'>
               <option *ngFor='let purchaserequest of purchaserequests' [ngValue]='status.Id' [selected]='status.Id == purchaserequest.StausId'> {{purchaserequest.Status}} </option> 
               </select>
            </div></div>
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='purchaserequesttotal'>Total:</label>
       <input [(ngModel)]='purchaserequest.Total' name='Total' type='text' class ='form-control col-sm-6' id='purchaserequesttotal' 
        aria-describedby='TotalHelp' placeholder='Total'>
       <small id='TotalHelp' class='form-text text-muted col-sm-2'>Total</small>
    </div>
    <div class='form-group row'>
       <label class='col-form-label col-sm-2' for='purchaserequestactive'>Active:</label>
       <input [(ngModel)]='purchaserequest.Active' name='Active' type='checkbox' class ='form-control col-sm-6' id='purchaserequestactive' 
        aria-describedby='ActiveHelp' placeholder='Active'>
       <small id='ActiveHelp' class='form-text text-muted col-sm-2'>Active</small>
    </div>
    <div class='form-group row'>
        <label class='col-form-label col-sm-2' for='purchaserequestreasonforrejection'>ReasonForRejection:</label>
        <input [(ngModel)]='purchaserequest.ReasonForRejection' name='ReasonForRejection' type='text' class ='form-control col-sm-6' id='purchaserequestreasonforrejection' 
         aria-describedby='ReasonForRejectionHelp' placeholder='ReasonForRejection'>
        <small id='ReasonForRejectionHelp' class='form-text text-muted col-sm-2'>ReasonForRejection</small>
     </div>
     <div>
        <button (click)='change()' class='btn btn-warning'>Update</button>
     </div>
     </div>
     </div>