<div id ='component' style='font-size: 1.6vw'>
    <div id ='pagetitle'>
      <span>{{pagetitle}}</span> 
    </div>
    <div id='content' *ngIf='prli'>
    <div>
    <div class='form-group row'>
        <label class='col-form-label col-sm-2' for='productid'>Product:</label>
        <select [(ngModel)]='prli.ProductId' [compareWith]='compareFn' class ='form-control col-sm-6' name='ProductId' id='purchaserequestlineitems-ProductId'>
        <option *ngFor='let product of products' [ngValue]='product.Id' [selected]='product.Id == prli.ProductId'> {{product.Name}} </option> 
        </select>
    </div></div>
    <div class='form-group row'>
        <label class='col-form-label col-sm-2' for='quantity'>Quantity:</label>
        <input [(ngModel)]='prli.Quantity' name='Quantity' type='text' class ='form-control col-sm-6' id='quantity' 
         aria-describedby='QuantityHelp' placeholder='Quantity'>
        <small id='QuantityHelp' class='form-text text-muted col-sm-2'>The quantity</small>
    </div>
   <div>
         <button (click)='change()' class="btn btn-sm btn-outline-info">Update</button>
   </div>
   </div>
   </div>
  