<div id ='component' style='font-size: 1.6vw'>
    <div id ='pagetitle'>
      <span>{{pagetitle}}</span> 
    </div>
    <div id='content' *ngIf='purchaserequests' class='listdiv'>
      <table class='table table-sm' class="table table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Description</th>
            <th>DeliveryMode</th>
            <th>Status</th>
            <th>Total</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody >
    <tr *ngFor='let purchaserequest of purchaserequests' class='listdiv'>
      <td>{{purchaserequest.User.FirstName}} {{purchaserequest.User.LastName}}</td>
      <td>{{purchaserequest.Description}}</td>
      <td>{{purchaserequest.DeliveryMode}}</td>
      <td>{{purchaserequest.Status}}</td>
      <td>{{purchaserequest.Total | currency}}</td>
      <td>
        <a routerLink='/purchaserequests/reviewaction/{{purchaserequest.Id}}' class="btn btn-md btn-outline-primary">REVIEW</a> 
      </td>
    </tr>
        </tbody>
      </table>
    </div>
    
    </div>
    