<div id ='component'>
    <div id ='pagetitle'>
      <span>{{pagetitle}}</span>  |  <a routerLink='/purchaserequestlineitems/create'>Create New</a>
    </div>
    <div id='content'>
      <table class='table table-sm' *ngIf='purchaserequest'>
          <thead>
              <tr>
                <th>User</th>
                <th>Description</th>
                <th>DeliveryMode</th>
                <th>Status</th>
                <th>Total</th>
                <th>Active</th>
                <th>ReasonForRejection</th>        
              </tr>
            </thead>
            <tbody>
<tr>
  <td>{{purchaserequest.User.FirstName}}{{purchaserequest.User.LastName}}</td>
          <td>{{purchaserequest.Description}}</td>
          <td>{{purchaserequest.DeliveryMode}}</td>
          <td>{{purchaserequest.Status}}</td>
          <td>{{purchaserequest.Total | currency}}</td>
          <td>{{purchaserequest.Active}}</td>
          <td>{{purchaserequest.ReasonForRejection}}</td>  
        </tr>
        <tbody>
      <tr>
        <th>Id</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
        <tr *ngFor='let purchaserequestlineitem of purchaserequest.prliList'>
            <td>{{purchaserequestlineitem.Id}}</td>
            <td>{{purchaserequestlineitem.Product.Name}}</td>
            <td>{{purchaserequestlineitem.Quantity}}</td>
            <td>{{purchaserequestlineitem.Product.Price}}</td>
            <td>{{purchaserequestlineitem.Product.Price*purchaserequestlineitem.Quantity}}</td>
            <td>{{purchaserequestlineitem.Active ? 'Yes' : ''}}</td>
            <td>
                <a routerLink='/purchaserequestlineitems/detail/{{purchaserequest.Id}}/{{purchaserequestlineitem.Id}}'>Detail</a> |
                <a routerLink='/purchaserequestlineitems/edit/{{purchaserequest.Id}}/{{purchaserequestlineitem.Id}}'>Edit</a>  
            </td>
    
        </tbody>
      </table>
    </div>
    
    </div>
    