<div id ='component' >
<div id ='pagetitle'>
  <span>{{pagetitle}}</span>  |  <a routerLink='/users/create' >Create New</a>
</div>
<div id='content' class='listdiv'>
  <table class="table table-striped">
    <thead >
      <tr >
        <th>Name</th>
        <th>UserName</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
<tr *ngFor='let user of users'>
  <td>{{user.FirstName}} {{user.LastName}}</td>
  <td>{{user.UserName}}</td>
  <td>{{user.Phone}}</td>
  <td>{{user.Email}}</td>
  <td>
    <a routerLink='/users/detail/{{user.Id}}' class="btn btn-sm btn-outline-info"><i class="icon-plus"></i><span>Detail</span></a> |
    <a routerLink='/users/edit/{{user.Id}}' class="btn btn-sm btn-outline-info">Edit</a>  
  </td>
</tr>

    </tbody>
  </table>
</div>

</div>
