<div id ='component' >
<div id ='pagetitle'>
  <span>{{pagetitle}}</span>  |  <a routerLink='/users/create' >Create New</a>
</div>
<div id='content' class='listdiv' style='font-size: 1.6vw'>
  <table class="table table-striped">
    <thead >
      <tr >
        <th>Name</th>
        <th>UserName</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
<tr *ngFor='let user of users'>
  <td>{{user.FirstName}} {{user.LastName}}</td>
  <td>{{user.UserName}}</td>
  <td>{{user.Phone}}</td>
  <td>{{user.Email}}</td>
  
  <td>
      <div class='btn-group'>
    <a routerLink='/users/detail/{{user.Id}}' class="btn btn-sm btn-outline-primary" >Detail</a> 
    <a routerLink='/users/edit/{{user.Id}}' class="btn btn-sm btn-outline-success">Edit</a>  
    </div>
  </td>
  
</tr>

    </tbody>
  </table>
</div>

</div>
